{{#extends 'base'}}

{{#block "content"}}

<h1>Adding new note for {{food.foodName}}</h1>
<form method="POST">
    <div>
        <label class="form-label">Note</label>
        <textarea class="form-control" name="content"></textarea>
    </div>
    <input type="submit" class="btn btn-primary my-3" value="Add new note"/>
    
</form>

{{/block}}

{{/extends}}