{{#extends 'base'}}

{{#block 'content'}}
<h1>Confirm delete {{foodRecord.foodName}}</h1>
<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete {{foodRecord.foodName}}?
        <div>
            <input type="submit" class="btn btn-danger" value="Confirm"/>
            <a href="/food" class="btn btn-success">Cancel</a>
        </div>
    </div>
</form>

{{/block}}

{{/extends}}